/* Signup.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.signup-page {
  min-height: 100vh;
  padding: 40px 20px;
  background: #0f172a;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
  
}

.bg-glow {
  position: absolute;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.3;
}

.blue {
  background: #3b82f6;
  top: 0;
  left: 0;
}

.purple {
  background: #9333ea;
  bottom: 0;
  right: 0;
}

.signup-card {
  width: 100%;
  max-width: 430px;
  padding: 40px;
  border-radius: 30px;
  background: rgba(255,255,255,0.08);
  backdrop-filter: blur(20px);
  border: 1px solid rgba(255,255,255,0.1);
  box-shadow: 0 8px 40px rgba(0,0,0,0.4);
  z-index: 10;
}

.signup-card h1 {
  color: white;
  text-align: center;
  font-size: 34px;
}

.subtitle {
  color: #cbd5e1;
  text-align: center;
  margin-top: 10px;
  margin-bottom: 30px;
}

.signup-form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.input-group label {
  color: #e2e8f0;
  margin-bottom: 8px;
  display: block;
}

.input-group input {
  width: 100%;
  padding: 14px;
  border-radius: 14px;
  border: 1px solid #475569;
  background: rgba(255,255,255,0.08);
  color: white;
  outline: none;
}

.input-group input:focus {
  border-color: #3b82f6;
}

.signup-btn {
  padding: 14px;
  border: none;
  border-radius: 14px;
  background: linear-gradient(to right, #3b82f6, #9333ea);
  color: white;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.divider {
  display: flex;
  justify-content: center;
  margin: 25px 0;
  color: #94a3b8;
}

.google-btn {
  width: 100%;
  padding: 14px;
  border-radius: 14px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}

.login-text {
  text-align: center;
  margin-top: 25px;
  color: #cbd5e1;
}

.login-text a {
  color: #60a5fa;
  text-decoration: none;
}